<br>
<ol class="breadcrumb">
  <li><a href="#"><%= t('navigation.links.home') %></a></li>
  <li><a href="#"><%= t('titles.services') %></a></li>
</ol>
<% if user_signed_in? %>
  <%= link_to 'New Service', new_service_path, class: 'btn btn-lg btn-primary' %>
<% end %>
<br>

<div class="row">
  <% @services.each_slice(3) do |slice| %>
    <div>
      <% slice.each do |service| %>
        <%= render partial: 'services/service', locals: { service: service } %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  <% end %>

</div>