<p id="notice"><%= notice %></p>

<h1><%= t('titles.services') %></h1>
<%= link_to 'New Service', new_service_path, class: 'btn btn-default' %>
<br>

<div class="row">
  <% @services.each do |service| %>
    <%= render partial: 'services/service', locals: { service: service } %>
  <% end %>

</div>