<h1>
  <%= @service.title %>
</h1>

<p>
  <%= @service.description.html_safe %>
</p>
<% if user_signed_in? %>
  <%= link_to t('btns.edit'), edit_service_path(@service), class: 'btn btn-default' %> |
<% end %>
  <%= link_to t('btns.back'), services_path, class: 'btn btn-default' %>
