<h1><%= t'titles.realty' %></h1>
<% if user_signed_in? %>
  <%= link_to 'New Realty', new_realty_path, class: 'btn btn-default btn-xs' %>
<% end %>


  <% @realties.each do |realty| %>
    <%= render partial: 'realties/realty', locals: { realty: realty } %>
  <% end %>
<br>

