<p id="notice"><%= notice %></p>

<h1><%= t'titles.realty' %></h1>
<%= link_to 'New Realty', new_realty_path, class: 'btn btn-default btn-xs' %>


  <% @realties.each do |realty| %>
    <%= render partial: 'realties/realty', locals: { realty: realty } %>
  <% end %>
<br>

