<br>
<ol class="breadcrumb">
  <li><%= link_to t('navigation.links.home') , root_path %></li>
  <li><%= link_to t('titles.realty'), realties_path %></li>
</ol>
<% if user_signed_in? %>
  <%= link_to 'New Realty', new_realty_path, class: 'btn btn-default btn-xs' %>
<% end %>


  <% @realties.each do |realty| %>
    <%= render partial: 'realties/realty', locals: { realty: realty } %>
  <% end %>
<br>

