<ol class="breadcrumb">
  <li><%= link_to t('navigation.links.home') , root_path %></li>
  <li><%= link_to t('titles.countries'), countries_path %></li>
</ol>
<% if user_signed_in? %>
  <%= link_to t('countries.new_country'), new_country_path, class: 'btn btn-primary' %>
  <br>
  <br>
<% end %>

<div class="row">
  <% @countries.each do |country| %>
    <%= render partial: '/countries/country', locals: {country: country} %>
  <% end %>
</div>
<div class="clearfix"></div>

