<h1><%= t'titles.jumbotrons' %></h1>

<% @jumbotrons.each do |jumbotron| %>
    <%= render partial: 'jumbotrons/jumbotron', locals: { jumbotron: jumbotron } %>
<% end %>

<br>

<%= link_to 'New Jumbotron', new_jumbotron_path, class: 'btn btn-primary' %>
