<p id="notice"><%= notice %></p>

<%= render partial: 'jumbotrons/jumbotron', locals: { jumbotron: @jumbotron } %>

<%= link_to 'Edit', edit_jumbotron_path(@jumbotron), class: 'btn btn-default' %> |
<%= link_to 'Back', jumbotrons_path, class: 'btn btn-default' %>
