<p id="notice"><%= notice %></p>

<%= render partial: 'jumbotrons/jumbotron', locals: { jumbotron: @jumbotron } %>

<%= link_to 'Edit', edit_jumbotron_path(@jumbotron) %> |
<%= link_to 'Back', jumbotrons_path %>
